@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Play:wght@400&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap");
/*!
global > color
------------------------------
*/
:root {
  --color-font-base: #49515f;
  --color-font-light: #9a9eac;
  --color-font-primary: #1e4aa4;
  --color-font-white: #fff;
  --color-bg-primary: #1e4aa4;
  --color-bg-darkblue: #222a38;
  --color-bg-cta: linear-gradient(30deg, #254da0 0%, #0772d1 100%);
  --color-bg-lightest-blue: #f5f8fb;
  --color-bg-light-grey: #eaecef;
  --color-link: #497fdf;
  --color-sep-light-gray: #eeeeee;
  --color-sep: color-mix(in srgb, #333333 10%, transparent);
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content-s: 1000rem;
  --width-content: 1300rem;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-en: "Play", sans-serif;
  --font-family-base: "Zen Kaku Gothic New", sans-serif;
  --font-family-montserrat: "Montserrat", sans-serif;
}

/*!
global > z-index
------------------------------
*/
:root {
  --z-index-header: 100;
  --z-index-top-kv-gradient: 10;
  --z-index-top-kv-inner: 20;
  --z-index-news: 50;
  --z-index-top-business-background: -1;
}

/*!
editor-style
------------------------------
*/
html :where(.wp-block) {
  margin-block: 16px;
}

/*!
editor-style > editor-styles-wrapper
------------------------------
*/
html :where(.wp-block) {
  margin-block: 16px;
}

.editor-styles-wrapper {
  line-height: 1.9;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
  font-weight: 500;
  /* ==========================================================
  businessページ用のブロックパターンのスタイル
  ========================================================== */
  /* チェックリスト */
  /* 画像リスト */
  /* アイコンリスト */
}
.editor-styles-wrapper p {
  font-size: 16px;
}
.editor-styles-wrapper h2,
.editor-styles-wrapper h3 {
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.editor-styles-wrapper h2 {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper h2 {
    font-size: 24px;
  }
}
.editor-styles-wrapper h3 {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper h3 {
    font-size: 20px;
  }
}
.editor-styles-wrapper strong {
  font-weight: 700;
}
.editor-styles-wrapper ul {
  display: grid;
  gap: 4px;
  justify-content: flex-start;
  padding-left: 0;
}
.editor-styles-wrapper ul li {
  width: 100%;
  padding-left: 20px;
  font-weight: 700;
  position: relative;
}
.editor-styles-wrapper ul li::marker {
  content: none;
}
.editor-styles-wrapper ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--color-bg-primary);
  border-radius: 50%;
}
.editor-styles-wrapper ol {
  counter-reset: ol-item;
  display: grid;
  gap: 4px;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}
.editor-styles-wrapper ol li {
  width: 100%;
  counter-increment: ol-item;
  font-weight: 700;
  display: flex;
  gap: 8px;
  align-items: flex-start;
}
.editor-styles-wrapper ol li::marker {
  content: none;
}
.editor-styles-wrapper ol li:before {
  content: counter(ol-item, decimal-leading-zero) ".";
  margin-top: 3px;
  color: var(--color-font-primary);
  font-family: var(--font-family-en) !important;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.editor-styles-wrapper p a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}
.editor-styles-wrapper .business-contents-section-title-en {
  font-family: var(--font-family-en);
  font-size: 16px;
  line-height: normal;
  color: var(--color-font-primary);
  text-transform: uppercase;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-contents-section-title-en {
    font-size: 20px;
  }
}
.editor-styles-wrapper .business-contents-section-title-ja {
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-contents-section-title-ja {
    font-size: 32px;
  }
}
.editor-styles-wrapper .business-check-list {
  margin-top: 24px;
  padding: 32px 20px;
  background-color: var(--color-bg-lightest-blue);
  display: grid;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-check-list {
    padding: 48px 40px;
  }
}
.editor-styles-wrapper .business-check-list li {
  width: 100%;
  font-size: 16px;
  line-height: 1.45;
  letter-spacing: 0.05em;
  font-weight: 700;
  display: grid;
  grid-template-columns: 21px 1fr;
  gap: 16px;
}
.editor-styles-wrapper .business-check-list li::marker {
  content: none;
}
.editor-styles-wrapper .business-check-list li::before {
  content: "";
  display: block;
  width: 100%;
  height: 21px;
  background-image: url("../img/icon_check.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(3px);
  position: static;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-check-list li {
    grid-template-columns: 27px 1fr;
    font-size: 18px;
    line-height: 1.5;
  }
  .editor-styles-wrapper .business-check-list li::before {
    height: 27px;
    transform: translateY(0);
  }
}
.editor-styles-wrapper .business-image-list {
  margin-top: 24px;
  display: grid;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-image-list {
    margin-top: 32px;
  }
}
.editor-styles-wrapper .business-image-item > .wp-block-group__inner-container {
  display: grid;
  gap: 16px;
  grid-template-rows: 170px 1fr;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-image-item > .wp-block-group__inner-container {
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    align-items: center;
  }
}
.editor-styles-wrapper .business-image-item-thumbnail {
  border-radius: 0 0 0 40px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-image-item-thumbnail {
    height: 160px;
  }
}
.editor-styles-wrapper .business-image-item-thumbnail img {
  height: 100%;
  object-fit: cover;
}
.editor-styles-wrapper .business-image-section {
  width: 100%;
}
.editor-styles-wrapper .business-image-section > .wp-block-group__inner-container .business-image-section-title {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.05em;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-image-section > .wp-block-group__inner-container .business-image-section-title {
    font-size: 24px;
  }
}
.editor-styles-wrapper .business-image-section > .wp-block-group__inner-container .business-image-section-text {
  margin-top: 10px;
}
.editor-styles-wrapper .business-icon-item {
  counter-increment: business-icon-section;
}
.editor-styles-wrapper .business-icon-item > .wp-block-group__inner-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 100px 1fr;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-icon-item > .wp-block-group__inner-container {
    grid-template-columns: 150px 1fr;
    gap: 32px;
  }
}
.editor-styles-wrapper .business-icon-item-icon-bg {
  height: 100px;
  width: 100%;
  background-color: var(--color-bg-lightest-blue);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-icon-item-icon-bg {
    height: 150px;
  }
}
.editor-styles-wrapper .business-icon-item-icon-bg img {
  width: 100%;
}
.editor-styles-wrapper .business-icon-section {
  width: 100%;
}
.editor-styles-wrapper .business-icon-section > .wp-block-group__inner-container .business-icon-section-title {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.05em;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-icon-section > .wp-block-group__inner-container .business-icon-section-title {
    font-size: 24px;
  }
}
.editor-styles-wrapper .business-icon-section > .wp-block-group__inner-container .business-icon-section-title::before {
  content: counter(business-icon-section, decimal-leading-zero) ".";
  display: block;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.05em;
  font-family: var(--font-family-en);
  color: var(--color-font-primary);
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-icon-section > .wp-block-group__inner-container .business-icon-section-title::before {
    font-size: 24px;
  }
}
.editor-styles-wrapper .business-icon-section > .wp-block-group__inner-container .business-icon-section-text {
  margin-top: 3px;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .business-icon-section > .wp-block-group__inner-container .business-icon-section-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: normal;
  }
}/*# sourceMappingURL=editor-style.css.map */