/*!
global > z-index
------------------------------
*/
:root {
  --z-index-header: 100;
  --z-index-top-kv-gradient: 10;
  --z-index-top-kv-inner: 20;
  --z-index-news: 50;
  --z-index-top-business-background: -1;
}
