@use "../global" as g;

/*!
utility > utility
------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.u-break-line {
  display: block;
}

.u-break-line-only-sp {
  display: block;

  @include g.mq() {
    display: inline;
  }
}

.u-break-line-only-pc {
  display: inline;

  @include g.mq() {
    display: block;
  }
}

.u-ptb {
  padding: 80rem 0;

  @include g.mq() {
    padding: 120rem 0;
  }
}

.u-ptb--sub-kv-has-image {
  @include g.mq() {
    padding: 141.62rem 0 120rem;
  }
}
