@use "../global" as g;

/*!
component > product-item
------------------------------
*/

.c-product-item {
  @media (any-hover: hover) {
    &:hover {
      .c-product-item-image {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.c-product-item-image {
  border: 1px solid #dcdcdc;
  border-bottom-left-radius: 24rem;
  overflow: hidden;

  @include g.mq() {
    border-bottom-left-radius: 32rem;
  }

  img {
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  &--bg-color {
    border-bottom-left-radius: 32rem;
    border: none;
  }
}

.c-product-item-content {
  margin-top: 10rem;

  @include g.mq() {
    margin-top: 16rem;
  }
}

.c-product-item-category {
  display: block;
  width: fit-content;
  padding: 1rem 7rem;
  background-color: transparent;
  border: 1px solid var(--color-font-base);
  border-radius: 16rem;
  font-size: 13rem;
  color: var(--color-font-base);
  line-height: normal;

  @include g.mq() {
    font-size: 16rem;
    line-height: 1.5;
  }

  &--bg-color {
    color: var(--color-font-white);
    border-color: var(--color-font-white);
    font-size: 16rem;
    line-height: 1.5;
  }
}

.c-product-item-title {
  margin-top: 4rem;
  font-size: 15rem;
  line-height: normal;
  color: var(--color-font-base);
  font-weight: 500;

  @include g.mq() {
    font-size: 20rem;
    letter-spacing: 0.05em;
  }

  &--bg-color {
    margin-top: 8rem;
    color: var(--color-font-white);
    font-size: 18rem;
    letter-spacing: 0.05em;

    @include g.mq() {
      font-size: 20rem;
    }
  }
}
